/* global */

* {
    margin: 0;
    padding: 0;
}

/* nav */

nav {
    background-color: rgb(19, 18, 18);
    padding: 3%;
}

/* header */

header {
    background-color: rgb(126, 55, 8);
    padding: 3%;
}

/* main */

main {
    background-color: rgb(163, 92, 26);
    padding: 3%;
}

/* footer */

footer {
    background-color: rgb(39, 36, 35);
    padding: 3%;
}